[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynobo = "*"

[dev-packages]
black = "==21.9b0"  # need to pin the version because of prerelease
isort = "*"
pytest = "*"
pytest-cov = "*"
